# Notepad++ backups #
*.bak
*.txt
*.http

# Json Data
/data/*.json

# Vs Code
# /.vscode

# Dependency directories
/node_modules/
/jspm_packages/

# Dragon Data
**/static/dragon/*
**/static/en)us/*.json
**/static/fr_fr/*.json
# **/dragon/*

# Public (autorize)
!/web/*.txt

# Disabled JSON (config)
**/config/*.json

# Disable SSL
/ssl/*
/web/*

# Optional npm cache directory
.npm

# dotenv environment variables file
.env


# Dist
**/db/dist
**/dist/*
**/backup/*
.env_2.exemple
.npmrc
/lib/**
*.tgz