# Notepad++ backups #
*.bak
*.txt
*.http


# Dependency directories
./node_modules/
./jspm_packages/
node_modules/
jspm_packages/
# ./config/*.json

# Optional npm cache directory
.npm

# dotenv environment variables file
.env