# Notepad++ backups #
*.bak
*.txt
*.http


# Dependency directories
/node_modules/
/jspm_packages/

# Disabled JSON (config)
/config/*.json
/config/clientA.json

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
